<!DOCTYPE html>
<html lang="en">

<head>
    <title>Python Flask</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">


</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/">Home</a></li>
                    <li role="presentation"><a href="signUp">Sign Up</a></li>
                    <li role="presentation"><a href="viewCatalog">View Catalog</a></li>
                    <li role="presentation"><a href="addToCart">Add To Cart</a></li>
                    <li role="presentation"><a href="checkout">Checkout</a></li>
                    <li role="presentation"><a href="viewCart">View Cart</a></li>
                    <li role="presentation"><a href="viewCart-removeItem">Remove Item</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">AppDynamics</h3>
        </div>

        <div class="container">
          <h1>Ecommerce</h1>
            <form class="form-signin">
              <label for="inputEmail" class="sr-only">Email address</label>
              <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
              <label for="inputPassword" class="sr-only">Password</label>
              <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
              <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Sign In</button>
            </form>
        </div>

        <footer class="footer">
            <p>&copy; AppDynamics 2015</p>
        </footer>

      </div>


</body>

</html>
